@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Open+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Open+Sans&family=PT+Sans&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}


.blhead1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 163px;
    top: 65px;
    width: 546px;
    z-index: 2;
}

.blhead {
    width: 100%;
    height: 665px;
    background: #F4F6F9;
}

.phoneimg {
    position: absolute;
    width: 58%;
    height: 660px;
    left: 42%;
    top: 0px;
    z-index: 1;
}

.bl1 {
    display: flex;
    align-items: center;
}

.bl2 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 2%;
}

.hl1 {
    margin-top: 133px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.tx1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    width: 450px;
}

.sport {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
    margin-left: 5%;
}

.btn {
    width: 156.05px;
    height: 47px;
    background: #000000;
    border-radius: 7.33503px;
    margin-right: 40px;
}

.blbtn {
    margin-top: 50px;
    display: flex;
}

.tx2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
    color: #FFFFFF;
}

.tx3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.svg {
    margin: 0;
    padding: 0;
}

.tx22 {
    font-size: 18px;
}

@media (max-width: 720px) {

    .blhead1 {
        height: 525px;
        width: 100%;
    }
    
    .phoneimg {
        display: none;
    }

    .blhead1 {
        justify-content: center;
        align-items: center;
        position: static;
        width: 100%;
    }

    .hl1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-top: 86px;
    }

    .tx1 {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        width: auto;
    }

    .sport {
        margin-top: 10%;
    }

    .blbtn {
        display: flex;
        justify-content: space-between;
        margin-right: -40px;
    }
}

.imgback {
    position: absolute;
    top: 665px;
    z-index: 0;
    height: 595px;
    width: 50%;
    background: linear-gradient( to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1) ), url(./image/Rectangle.png) no-repeat;
}

.imgm1 {
    position: absolute;
    top: 774px;
    left: 163px;
    z-index: 2;
    width: 360px;
    height: 220px;
}

.imgm2 {
    position: absolute;
    top: 961px;
    left: 269px;
    z-index: 1;
    width: 360px;
    height: 220px;
}

.blm2 {
    position: absolute;
    top: 798px;
    left: 55%;
}

.hl2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.hl3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}

.textm1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;

}

.btnm1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    border: none;
    background: none;
}

@media (max-width: 720px) {
    .blm2 {
        top: 690px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        width: auto;
    }
    
    .imgback {
        top: 1130px;
        height: 360px;
        width: 388px;
    }

    .imgm1 {
        top: 1200px;
        left: 20px;
        width: 250px;
        height: 150px;
    }

    .imgm2 {
        top: 1330px;
        left: 92.79px;
        width: 248px;
        height: 150px;
    }

    .textm1, .hl3 {
        text-align: center;
        width: auto;
    }
}

.blm3 {
    position: absolute;
    top: 1257px;
    height: 680px;
    width: 100%;
}

.blm31 {
    width: 460px;
    position: absolute;
    top: 217px;
    left: 162px;
    z-index: 1;
}

.btnm11 {
    margin-top: 54px;
}

.imgm {
    position: absolute;
    left: 10%;
    top: 0px;
    width: 90%;
    z-index: 0;
    height: 680px;
}

.imgm4 {
  display: none;  
}

@media (max-width: 720px) {
    .blm31 {
        top: 300px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        width: auto;
    }

    .imgm {
        display: none;
    }

    .imgm4 {
        display: block;
        width: auto;
        height: 565px;
        position: absolute;
        left: 0px;
        top: 700px;
    }

    .btnm11 {
        margin-top: 10px;
    }

}

.blm4 {
    height: 735px;
    width: 100%;
    position: relative;
    top: 1250px;
    background-image: url("./image/background.png");
    background-size: cover;
}

.gr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 40px;
    height: 560px;
    margin-top: 172px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 60px;
}

.hl4 {
    text-decoration: none;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 76px;
}

.textm4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 0;
}

@media (max-width: 720px) {

    .blm4 {
        top: 1820px;
    }

    .hl4 {
        color: #333333;;
    }

    .textm4 {
        color: #4F4F4F;
        text-align: center;
    }
    .pc1 {
        width: 30px;
        height: 30px;
    }

    .sv1 {
        fill: #00ADEE;
    }

    .gr {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-row-gap: 55px;
        margin: auto;
    }

    .gr1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blm4 {
        background: #FAFAFA;
        height: 1725px;
    }
}

.blm5 {
    position: relative;
    top: 1225px;
    width: 100%;
    height: 431px;
}

.hl5 {
    padding-top: 62px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    width: 100%;
}

.blm51 {
    width: 309px;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}

.blm55 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.blm54 {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
}

.text5 {
    margin-left: 5%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.text51 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-left: 11px;
}

.tw {
    margin-left: 125px;
}

.arrl {
    position: absolute;
    top: 200px;
    left: 102px;
}

.arrr {
    position: absolute;
    top: 200px;
    left: 1230px;  
}

.img5 {
    margin-left: 590px;
    margin-top: 50px;
}

@media (max-width: 720px) {
    .blm51 {
        display: none;
    }

    .blm511 {
        display: block;
        margin-left: 5%;
    }

    .blm5 {
        top: 1775px;
    }

    .arrl, .coment{
        display: none;
    }

    .arrr {
        left: 305px;
        top: 180px;
        width: 47px;
        height: 47px;
    }

    .img5 {
        margin-left: 30%;
        width: 143px;
        height: 11px;
    }

}

.blm6 {
    position: relative;
    width: 100%;
    height: 278px;
    left: 0px;
    top: 1200px;
    background: #FAFAFA;
}

.hl6 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    padding-top: 5%;
}

.blm61 {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 720px) {
    .blm61 {
        flex-wrap: wrap;
    }
    .blm6 {
        top: 1700px;
        height: 385px;
    }

    .img6 {
        padding-top: 8%;
    }

    .hl6 {
        padding-top: 15%;
    }
}

.blm7 {
    position: relative;
    top: 1200px;
    display: flex;
    height: 483px;
}

.blm8 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 0;
}

.btnm8 {
    margin-top: 5%;
}

.tx8 {
    font-size: 16px;
    line-height: 25px;
}

.hlm8 {
    margin-top: 100px;
}

@media (max-width: 720px) {
    .blm7 {
        flex-direction: column-reverse;
        top: 1910px;
    }

    .blm8 {
        align-items: center;
        justify-content: center;
    }

    .btnm8 {
        justify-content: space-between;
    }
    
    .bl1 {
        width: 145.69px;
        height: 44px;
    }

    .tx3 {
        font-size: 10.2863px;
        line-height: 12px;
    }

    .tx2 {
        font-size: 15.2863px;
        line-height: 17px;
    }

    .img7 {
        padding-top: 10%;
    }
}

.bl8 {
    position: relative;
    top: 1200px;
    background-color: #00ADEE;
    height: 128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.link8 {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 10px;
}

.link82 {
    margin-left: 6px;
}

@media (max-width: 720px) {
    .bl8 {
        flex-direction: column;
        height: 210px;
        top: 1910px;
        align-items: flex-start;
    }

    .blm83 {
        order: 1;
    }

    .blm82 {
        order: 0;
    }

    .lastimg {
        margin-left: 5%;
        padding-top: 50px;
    }

    .blm83, .blm84 {
        margin-left: 3%;
    }

    .blm84 {
        margin-top: 0%;
    }
}

.btnlast {
    background: none;
    border: none;
}
